/*
  Easily position the native HTML <dialog> element, using a 'data' attribute.

  License: MIT.
  Copyright © Nick Freear, 05-April-2025.
*/

dialog[ data-position ] {
  margin: 0;
}

dialog[ data-position = top-left ] {
  /* Empty on purpose! */
}

dialog[ data-position = top ] {
  width: 100%;
}

dialog[ data-position = left ] {
  height: 100%;
}

dialog[ data-position = right ] {
  height: 100%;
  left: 100%;
  transform: translateX(-100%);
}

dialog[ data-position = bottom ] {
  top: 100%;
  transform: translateY(-100%);
  width: 100%;
}

dialog[ data-position = bottom-left ] {
  top: 100%;
  transform: translateY(-100%);
}

dialog[ data-position = bottom-right ] {
  left: 100%;
  top: 100%;
  transform: translate(-100%, -100%);
}

dialog[ data-position = top-right ] {
  left: 100%;
  transform: translateX(-100%);
}

/* End. */
